<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>567398402296-egg2cc818vp59p888atcdcpgqh6p00ej.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.567398402296-egg2cc818vp59p888atcdcpgqh6p00ej</string>
	<key>API_KEY</key>
	<string>AIzaSyC79MNuyxYiR3UpWlViQ0HQXCfPs9Nc3SE</string>
	<key>GCM_SENDER_ID</key>
	<string>567398402296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsapp</string>
	<key>PROJECT_ID</key>
	<string>whatsapp-76658</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp-76658.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:567398402296:ios:58de27af39e315e647930d</string>
</dict>
</plist>